.App {
  font-family: "Arial";
}

.img1 {
  box-sizing: border-box;
  position: absolute;
  width: 30%;
  height: 79%;
  left: 52%;
  top: 10%;
  background: url(assets/img1.png);
  border: 10px solid #ffffff;
}

.img2 img {
  position: absolute;
  height: 100%;
  right: 0%;
  top: 0;
}

.text1 {
  position: absolute;
  left: 7%;
  top: 40%;
}

.text11 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 1000;
  font-size: 180%;
  line-height: 120%;

  color: #FFFFFF;
}

.bg-1 {
  background: linear-gradient(135deg, #FFDEAF 0%, #FBB148 100%);
}


.text2 {
  font-family: "Arial";
  color: #FBB148;
}

.page2row2 td {
  padding: 2.75vw;
}

.bold-gold {
  color: #FBB148;
}

/* .page2row2 img {
  width: '28vw';
} */

.page3middle {

  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  border-radius:50%;
   width: 250px;
  height: 250.42px; 
  left:40%;
  top:380%;
}

.page3middle img{
  position: absolute;
  top:40%;
  left:7%;
}

.page5table img{
  padding:2%;
  width: 90%;
}

.page5table td{
  padding:5%;
}